.{
    margin: 0;
    padding: 0;
}

h1{
    background-color: #081b31;
    color:white;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
}

.choice{
    height: 110px;
    width: 110px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

.choice:hover{
    cursor:pointer;
    background-color: #081b31;
}

img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;

}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3 rem;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem  ;
}

#user-score, #comp-score{
    font-size: 4rem;
}

.msg-container{
    text-align: center;
    margin-top: 5rem;
}

#msg{
    background-color: #081b31;
    color: white;
    font-size: 2rem;
    display: inline;
    margin-top: 5rem;
    padding: 1rem;
    border-radius: 1rem;
}



